@model Post
@{
}

@*
<div class="card text-center">
    <div class="card-header">
        @Html.DisplayFor(_ => Model.Title)
        @{
            Html.RenderPartial("_DeleteButton", new _DeleteButton() { ID = Model.ID, Message = Model.Title });
        }

    </div>
    <div class="card-body">
        <p>@Html.Raw(Model.Content)</p>
    </div>
    <div class="card-footer text-body-secondary">
        @Html.DisplayFor(_ => Model.InsertDate)
    </div>
</div>
*@
<div class="postcard">
    <img src="@(Model.Image != null? Url.Content($"~/images/post_images/{Model.Image}"): Url.Content("~/images/post_images/test_image.png"))" class="card__image" alt="Post Image" />
    <div class="card__content">
        <time datetime="@Html.DisplayFor(_ => Model.InsertDate)" class="card__date">@Html.DisplayFor(_ => Model.InsertDate)</time>
        <span class="card__title">@Html.DisplayFor(_ => Model.Title)<span>
    </div>
</div>
